@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary-600: #34b580;
  --color-primary-400: #57c192;
  --color-primary-50: #e7f6ef;

  /* Secondary Colors */
  --color-secondary-800: #0a043c;
  --color-secondary-400: #464a82;
  --color-secondary-200: #8b90b3;

  /* Text Color */
  --color-text-800: #353d48;

  /* Typography */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}
